
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: 'Times New Roman', Times, serif sans-serif;
}
html{
   scroll-behavior: smooth;
}

body{
  background-size: cover;
  height: 100px;
}

.main {
  position: absolute;
  top: 250px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 550px;
  background: rgba(60, 32, 73, 0.897);
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(60, 32, 73, 0.897);
}
.output{
    position: absolute;
    top: 700px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 550px;
    background: rgba(60, 32, 73, 0.897);
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(60, 32, 73, 0.897);
}

.overTime{
  position: absolute;
    top: 1000px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 550px;
    background: rgba(60, 32, 73, 0.897);
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(60, 32, 73, 0.897);
}
.leapYearReport {
  position: absolute;
  top: 1300px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 550px;
  background: rgba(60, 32, 73, 0.897);
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(60, 32, 73, 0.897);
}

.output .title h1{
    color: white;
    text-align: center;
    margin-bottom: 25px;
}
.main .title h1, .heading h1{
  color: white;
  text-align: center;
  margin-bottom: 25px;
}
h1{
  color: white;
}

.contact-form{
  display: flex;
}

.input-fields{
  display: flex;
  flex-direction: column;
  margin-right: 4%;
}

.input-fields{
  width: 100%;
}

.input-fields .input{
  margin: 10px 0;
  background: transparent;
  border: 0px;
  border-bottom: 2px solid white;
  padding: 10px;
  color: white;
  width: 100%;
}



::-webkit-input-placeholder {
  color: white;
}
::-moz-placeholder {
  
  color: white;
}
:-ms-input-placeholder {
  color: white;
}

.btn {
    background: rgba(60, 32, 73, 0.897);
    text-align: center;
    padding: 15px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    text-transform: uppercase;
}
